@import "../variables.scss";

.section-main {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(black, 0.3);
  border-radius: 10px;
  .head {
    padding: $spacing;
  }
  .divider {
    padding: 0;
    margin: 0;
  }
  .body {
    padding: $spacing;
  }
}
