@import "./variables.scss";
.App {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.info {
  max-width: 300px;
  overflow-x: auto;
}
.info .img-container {
  padding: 10px;
}
.info .img-container img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  border-radius: 50%;
}
.info .details {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  flex-direction: column;
}
.info .details em {
  display: block;
  max-width: 80vw;
  word-wrap: break-word;
}
.info .details em:first-of-type {
  font-size: 16px;
  font-weight: bold;
}

.rank {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.actions button.button {
  background: darkgreen;
  color: white;
}

.actions button.button:hover {
  background: white;
  color: darkgreen;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.my-message {
  width: 100%;
  background: #000;
}

.row-select-item {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row-select-item em {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
}

.upload-container {
  @include flex(center, center, 0, column);
}

.upload {
  width: 300px;
  @include media(max, 310px) {
    margin: 10px;
    width: 200px;
  }
}

.online {
  color: green;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  background: lighten(green, 65);
}
.offline {
  color: orangered;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  background: lighten(orangered, 40);
}

.my-message {
  margin: 10px !important;
  max-width: 98vw !important;
}
