@import "../variables.scss";

.login {
  width: 100%;
  @include flex(flex-start, center, 1rem, column);
  em {
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    margin: $spacing + 1rem 0;
  }
  .form {
    width: 100%;
  }
  .input {
    width: 400px;
    & > div:first-of-type {
      height: 70px;
      width: 100%;
    }
  }

  .select {
    width: 400px;
    height: 70px;
    & > div:first-of-type {
      height: 100%;
      width: 100%;
      @include flex(center, space-between, 0, row);
      i {
        height: 100% !important;
        @include flex(center, center, 0, row);
      }
    }
  }

  .actions {
    button {
      width: 200px;
      height: 60px;
      background: $pry-color;
      color: $pry-light-color;
      &:hover {
        background: $pry-light-color;
        color: $pry-color;
      }

      i {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 700px) {
  .login {
    align-items: center;
    gap: 0;

    .form {
      @include flex(center, center, 10px, column);
    }
  }
}

@media (max-width: 451px) {
  .login {
    .form {
      width: 100%;
    }
    .input {
      width: 90%;
    }
  }
}
