@import "../variables.scss";
$transition-length: 500ms;

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  .profile-parent {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    .toogle-container {
      @include flex(center, flex-end, 10px, row);
      padding: 10px;
    }
    .toogle-profile {
      cursor: pointer;
      transition: 500ms;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: white;
      box-shadow: 0px 0px 10px black;
      @include flex(center, center, 0px, row);
      i {
        @include flex(center, center, 0px, row);
        text-align: center;
      }
    }
  }
}

.profile {
  height: 90vh;
  width: 300px;
  background-color: rgba(white, 0.5);
  backdrop-filter: blur(10px);
  position: relative;
  right: $spacing;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(black, 0.3);
  padding: $spacing;
  overflow-y: auto;
  z-index: 5;
  &::-webkit-scrollbar {
    width: 5px;
  }
  .profile-container {
    border-radius: $spacing;
    overflow-y: hidden;
    .bg {
      height: 130px;
      background: url("../../assets/img/flag-on-uniform.png");
      width: 100%;
    }
    .details-container {
      background: rgba(lightgreen, 0.3);
      height: 140px;
      .details {
        text-align: center;
        position: relative;
        top: -70px;
        .img-container {
          img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid darkgreen;
          }
        }
        em:first-of-type {
          font-size: 21px;
          font-weight: bold;
          line-height: 30px;
        }
        a {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
  ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      display: block;
      padding: 6px;
      em:first-of-type {
        font-weight: bold;
      }
    }
  }
  ul.mini-list {
    padding-left: $spacing;
    list-style-type: disc;
    li em {
      font-weight: normal;
    }
  }
}

.menu {
  position: fixed;
  margin-top: $spacing;
  background-color: rgba(white, 0.5);
  backdrop-filter: blur(10px);
  height: 95vh;
  padding: 10px;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(black, 0.3);
  transition: 0.3s;
  max-width: 60px;
  width: 60px;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  em {
    color: darkgreen;
    display: none;
  }
  &:hover {
    width: 250px;
    max-width: 300px;
    ul li {
      justify-content: start;
      i {
        width: auto;
      }
    }
    em {
      display: block;
    }
    &::-webkit-scrollbar {
      display: block;
      width: 5px;
    }
  }
  .logo-container {
    @include flex(center, flex-start, 10px, row);
    margin-bottom: 10px;
    img {
      width: 40px;
      height: 40px;
    }
    em {
      font-size: 20px;
      font-weight: bold;
      color: darkgreen;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      cursor: pointer;
      padding: 10px 10px;
      border-radius: 5px;
      @include flex(center, center, 15px, row);
      width: 100%;
      overflow-x: hidden;
      i {
        font-size: 23px;
        color: rgb(4, 57, 4);
        width: 100%;
      }
      i.dot {
        font-size: 15px;
      }
      &:hover {
        background-color: rgba(black, 0.1);
      }
    }
  }
  ul.submenu {
    // animation: slideDown 2.5s forwards;
  }
}

.force-img {
  position: fixed;
  z-index: 6;
  bottom: 0;
  left: 0;
  margin: 10px;
  max-width: 70px;
  @include flex(center, center, 5px, column);
  background: rgba(black, 0.5);
  border-radius: 10px;
  padding: 5px;
  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    object-position: top;
  }
  em {
    font-weight: bold;
    color: white;
    text-align: center;
  }
}

.map-tab {
  width: 100vw;
  height: 100vh;
}

//ENTER
.profile-animate-enter {
  // animation: slideIn $transition-length forwards ease-in;
  // position: absolute;
  width: 0;
  overflow-x: hidden;
  right: -1000px;
  transition: $transition-length;
}
.profile-animate-enter-done {
  // animation: slideIn $transition-length forwards;
  right: $spacing;
  transition: $transition-length;
}

// EXIT
.profile-animate-exit-active {
  // animation: slideOut 0.9s forwards ease-out;
  // position: absolute;
  width: 0;
  overflow-x: hidden;
  right: -1000px;
  transition: $transition-length;
}
.profile-animate-exit-done {
  // animation: slideOut $transition-length forwards;
  display: none;
}

// APPEAR
.profile-animate-appear {
  // animation: slideIn 0.9s forwards ease-in;
  // display: block;
  // position: absolute;
  width: 0;
  overflow-x: hidden;
  right: -1000px;
  transition: $transition-length;
}
.profile-animate-appear-done {
  // animation: slideIn $transition-length forwards;
  // position: absolute;
  right: $spacing;
  transition: $transition-length;
}

//ENTER
.menu-animate-enter {
  // animation: slideIn $transition-length forwards ease-in;
  // position: absolute;
  width: 0;
  overflow-x: hidden;
  left: -1000px;
  transition: $transition-length;
}
.menu-animate-enter-done {
  // animation: slideIn $transition-length forwards;
  left: $spacing;
  transition: $transition-length;
}

// EXIT
.menu-animate-exit-active {
  // animation: slideOut 0.9s forwards ease-out;
  // position: absolute;
  width: 0;
  overflow-x: hidden;
  left: -1000px;
  transition: $transition-length;
}
.menu-animate-exit-done {
  // animation: slideOut $transition-length forwards;
  display: none;
}

// APPEAR
.menu-animate-appear {
  // animation: slideIn 0.9s forwards ease-in;
  // display: block;
  // position: absolute;
  width: 0;
  overflow-x: hidden;
  left: -1000px;
  transition: $transition-length;
}
.menu-animate-appear-done {
  // animation: slideIn $transition-length forwards;
  // position: absolute;
  left: $spacing;
  transition: $transition-length;
}

@keyframes slideIn {
  0% {
    display: block;
  }
  25% {
    right: -1000px;
  }
  100% {
    right: $spacing;
  }
}

@keyframes slideOut {
  0% {
    right: $spacing;
  }
  75% {
    right: -1000px;
  }
  100% {
    display: none;
  }
}

@keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: auto;
  }
}

@media (max-width: 1000px) {
}

@media (max-width: 991px) {
}

@media (max-width: 891px) {
}

@media (max-width: 791px) {
}

@media (max-width: 691px) {
}

@media (max-width: 451px) {
}
