.users {
  padding: 1rem;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row;
}
.users .left {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 49vw;
}
.users .left .user-details {
  padding: 1rem;
  height: auto;
  width: inherit;
  position: relative;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-auto-rows: auto;
  gap: 10px;
}
.users .left .user-details .details {
  max-height: 35vh;
  overflow-y: auto;
  padding: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.users .left .user-details .details ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.users .left .user-details .details ul.list > li {
  display: block;
  padding: 6px;
}
.users .left .user-details .details ul.list > li em:first-of-type {
  font-weight: bold;
}
.users .left .user-details .details ul.mini-list {
  padding-left: 1rem;
  list-style-type: disc;
}
.users .left .user-details .details ul.mini-list li em {
  font-weight: normal;
}
.users .left .map-container {
  max-width: 49vw;
  overflow-x: auto;
  height: 460px;
}
.users .right {
  flex: 1;
  max-height: 98vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 10px;
}
.users .right .search-container {
  width: 50%;
}
.users .right .search-container .input {
  width: 100%;
}
.users .right .users {
  max-height: 90vh;
  overflow-y: auto;
}

.users-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
  padding: 10px;
  overflow-x: hidden;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.user-card .img-container {
  padding: 10px;
}
.user-card .img-container img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
}
.user-card .details {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
  flex-direction: column;
}
.user-card .details em {
  display: block;
}
.user-card .details em:first-of-type {
  font-size: 16px;
  font-weight: bold;
}
.user-card .actions button {
  background: darkgreen;
  color: white;
}
.user-card .actions button:hover {
  background: white;
  color: darkgreen;
}

.create-user {
  padding: 1rem;
}
.create-user .main {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.create-user .main .head {
  padding: 1rem;
}
.create-user .main .head em {
  font-size: 20px;
  font-weight: bold;
}
.create-user .main .divider {
  margin: 0;
  padding: 0;
}
.create-user .main .body {
  padding: 1rem;
}
.create-user .main .body .form {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-auto-rows: auto;
  gap: 20px;
}
.create-user .main .body .form .form-inputs .device-container .devices,
.create-user .main .body .form .form-inputs .ammo-container .ammos,
.create-user .main .body .form .form-inputs .accessory-container .accessories {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 10px;
  padding: 5px;
}
.create-user .main .body .form .form-inputs .device-container .devices .message,
.create-user .main .body .form .form-inputs .ammo-container .ammos .message,
.create-user .main .body .form .form-inputs .accessory-container .accessories .message {
  width: 100%;
}
.create-user .main .body .form .img-upload {
  height: 300px;
}
.create-user .main .body .form .img-upload label {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
  border: 5px double darkgreen;
  background: rgba(144, 238, 144, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.create-user .main .body .form .img-upload label i {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  color: darkgreen;
}
.create-user .main .body .form .img-upload label em {
  font-size: 24px;
  color: darkgreen;
}
.create-user .main .body .form .img-upload .img-container {
  position: relative;
}
.create-user .main .body .form .img-upload .img-container img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px;
}
.create-user .main .body .form .img-upload .img-container i {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  padding: 1.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: row;
  background: white;
  border-radius: 50%;
  color: darkgreen;
  cursor: pointer;
}
.create-user .main .body .form .actions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}
.create-user .main .body .form .actions .button {
  width: 100%;
  background: darkgreen;
  color: white;
}
.create-user .main .body .form .actions .button:hover {
  background: white;
  color: darkgreen;
  background: lightgreen;
}

.card {
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.card .details-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: row;
}
.card .details-container img {
  width: 40px;
  height: auto;
}

.bulk-upload {
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
}
.bulk-upload .upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}
.bulk-upload .upload-container .upload {
  width: 30%;
}
.bulk-upload .table {
  overflow-x: auto;
}

@media (max-width: 1000px) {
  .users-list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 991px) {
  .users {
    overflow-y: auto;
  }
  .users .left .user-details {
    grid-template-columns: 1fr;
  }
  .users .left .user-details .details {
    border: none;
  }
  .users .left .map-container {
    height: 500px;
  }
  .users .right {
    height: auto;
    max-height: 300vh;
  }
  .users .right .users {
    max-height: 140vh;
  }
  .create-user .main .body .form {
    grid-template-columns: 1fr;
  }
  .create-user .main .body .form .img-upload {
    grid-row: 1/2;
    width: 50%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 691px) {
  .users {
    display: block;
  }
  .users .left {
    max-width: 150vw;
    min-height: 100vh;
    margin-bottom: 1rem;
  }
  .users .left .user-details .details {
    max-height: 50vh;
  }
  .users .left .map-container {
    background: #000;
    max-width: 100%;
    height: 50vh;
  }
  .users .right {
    max-width: 100vw;
  }
  .users .right::before {
    content: "Militants";
    font-size: 30px;
    font-weight: bold;
    margin: 1rem 0;
  }
  .users .user-card {
    margin-bottom: 10px;
  }
  .create-user .main .body .form .img-upload {
    width: 70%;
  }
}
@media (max-width: 451px) {
  .user-card {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .create-user .main .body .form .img-upload {
    width: 100%;
  }
}/*# sourceMappingURL=UserManagement.module.css.map */